@font-face {
    font-family: roboto;
    src: url("assets/robotoflex.woff2") format('woff2');
    
}

* {
    font-family: roboto;
    font-variation-settings: 
        'wght' 200, 
        'wdth' 75;
}

html {
    height: 100dvh;
    width: 100dvw;
    overscroll-behavior-y: contain;
}

body {
    height: calc(100% - 20pt);
    margin: 0pt;
    padding: 10pt;
    background-color: blue;
    overscroll-behavior-y: contain;
}